
h1, h2, h3, h4 {
    color:#5f0f0f;
}

h1 a:hover {
    color:#5f0f0f;
    text-decoration:none;
}

a {
    border:none;
    color:#5f0f0f;
    text-decoration:none;
}

a:hover {
    color: #9d454b;
    text-decoration:underline;
}

a img {
    border:2px solid #FFF;
}

a:hover img {
    border:2px solid #CCC;
}

fieldset {
    border:none;
}

button {
    background-color:#5f0f0f;
    color: #FFF;
}

.btn-primary {
    background-color: #5f0f0f;
    color: #FFF;
}